﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conexão Literária</h1>
    <p>Explorando Mundos, Página por Página: Sua Aventura Literária Começa Aqui!</p>
    <div>
        <img src="/img/livro.jpg"/>
    </div>
</div>